<ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Lista de Usuários</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list ng-controller="HomeController">
          <ion-item ng-repeat="item in items">
          <div class="list"></div>
            <a class="item item-avatar" href="#">
              <img ng-src="{{item.picture}}">
              <p>{{item.id}}</p>
              <h2>{{item.name}}</h2>
              <p>{{item.email}}</p>
            </a>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-pane>